body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

/* Fix contrasting colours */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
}

/* MAIN CONTAINER */
.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  width: 100%;
}

.banner {
border: 1px solid black;
width: 1100px;
height: 300px;
}

/* work for skip links */

.main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  flex: 1;
  text-align: center;
}

/* make sure it is accessible */
.main-nav ul li a {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 1.25rem;
}

.main-nav ul li a:focus {
  outline: 4px solid black;
}

.main-nav ul li a:hover{
  text-decoration: underline;
}

/* skip links */

.skip-links{
  list-style: none;
  margin: 0;
  padding: 0;
}

.skip-links a {
  position: absolute;
  top: -3em;
  background-color: black;
  color: white;
  padding: .5em 1em;
}

.skip-links a:focus {
  top: 0;
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  background: none;
  border: 3px solid black;
  padding: 1rem;
  text-transform: uppercase;
}

form button:hover {
  text-decoration: underline;
}

form button:focus {
  border: 4px solid black;
}

.site-footer {
  padding: 2rem 0;
}